# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\wxx9248\OneDrive - University of Ottawa\CSI 2132\Course Project\CSI2132-Project\MyHotelCustomer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
